@font-face {
    font-family: '777Newyorkers';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Newyorkers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
}
.start-txt{
    margin: 0 auto;
    font-family: '777Newyorkers';
    color: white;
    font-size: 2.5rem;
}

.backgroundfull{
    width: 100%;
    height:1000px;
    background: rgb(55, 8, 130);
    position: absolute;
    z-index: -1;
    left: 0;
}

article{
    display: flex;
    flex-direction: column;
}

.question{
    background: rgb(55, 8, 130);
    height: 100vh;
    display: none;
}
.result{
    display: none;
}
#img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.imgs{
    width: 500px;
    margin: 2% auto ;
    border-radius: 30px;
}
.container{
    width: 600px;
}
.tit-cl{
    font-family: 'Wemakeprice-Bold';
    text-shadow: -2px 0 lightblue, 0 2px lightblue, 2px 0 lightblue, 0 -2px lightblue;
    font-size: 4rem;
    color: white;
    font-weight: 500;
    margin: 0 auto;
}
.tit-cl2{
    font-family: 'Wemakeprice-Bold';
    font-size: 1rem;
    color: rgb(194, 193, 193);
    font-weight: 400;
    margin: 16% auto 0;
}
.size-btn{
    width: 300px;
    margin: 15% auto 0;
    font-family: '777Newyorkers';
    font-size: 1.5rem;
    font-weight: 500;
}
#step{
    margin: 1% 5% 0;
    margin-top: 5%;
    font-family: '777Newyorkers';
    color: white;
    font-size: 2rem;
}
#title{
    font-family: '777Newyorkers';
    color:  white;
    font-size: 2rem;
    margin: 10%; 
}

#A{
    font-family: '777Newyorkers';
    color:  rgb(55, 8, 130);
    font-size: 1.5rem;  
    margin: 0 5%;
}
#B{
    font-family: '777Newyorkers';
    color:  rgb(55, 8, 130);
    font-size: 1.5rem;
    margin: 0 5%;  
}
.start{
    padding: 5% 0;
    background: rgb(55, 8, 130);
}
.marg{
    margin: 3% 5%;
}
.mar-30{
    margin: 15% auto;
}
.svgicon{
    width: 20%;
    margin: 0 auto;
}
.svgfloat{
    width: 28%;
}
.result{
    background: rgb(55, 8, 130);
    font-family: 'Wemakeprice-Bold';
   color: white;
}
#go-back{
    font-family: '777Newyorkers';
    margin-left: 5%;
    color: white;
    font-size: 1.5rem;
}
.fa-chevron-left{
    font-size: 0.8rem;
}
#result-ex{
    margin: 0 7%;
}
.future{
    margin-top: 7%;
}
.bank{
    margin-top: 7%;
}
#result-bank{
    font-size: 1.3rem;
}
#result-good{
    font-size: 1.3rem;
}
#result-bad{
    font-size: 1.3rem;
}
#back-btn {
    width: 300px;
    height: 50px;
    border: none;
    margin: auto;
}



@media (max-width:769px){
    
    #img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .imgs{
        width: 100%;
        margin: 2% auto ;
        border-radius: 30px;
    }
    .container{
        background: rgb(55, 8, 130);
        width: 100%;
    }
}
@media (max-width:376px){
    
    #img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .imgs{
        width: 100%;
        margin: 2% auto ;
        border-radius: 30px;
    }
    .container{
        background: rgb(55, 8, 130);
        width: 100%;
    }
}
@media (max-width:376px){
    
    #img{
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
    #people{
        font-size: 1.5rem;
    }
    #explain{
        font-size: 1rem;
    }
    #result-ex{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .bank{
        font-size: 1.5rem;
    }
    .tip{
        font-size: 1.5rem;
    }
    .goodbad{
        font-size: 1.5rem;
    }
    #result-tip{
        font-size: 0.9rem;
    }
    #result-good{
        font-size: 1rem;
    }
    #result-bad{
        font-size: 1rem;
    }
    .future{
        font-size: 1.5rem;
    }
   #result-plan{
       font-size: 0.9rem;
       line-height: 1.5rem;
   }
    
    

}